<body>
<div style="height: 100vh; width: 100vw;">
  <div style="margin-top: 50vh" align="center">
<!--    <input type="text" [(ngModel)]="inputText">-->
    <button (click)="showData()"> data </button>
<!--    <label [textContent]="inputText"></label>-->
    <table id="report">
      <tr>
        <th *ngFor="let column of headers">
          {{column}}
        </th>
      </tr>

      <tr *ngFor="let row of report" style="padding-left: 100px">
        <td *ngFor="let col of headers">
          {{row[col]}}
        </td>
      </tr>

    </table>

    <button (click)="calculate()"> calculate </button>
    <div [textContent]="score"></div>

  </div>
</div>
</body>
